.home[data-v-9bb670f6] {
    min-height: 90vh
}

h1[data-v-9bb670f6], h2[data-v-9bb670f6], h3[data-v-9bb670f6], h4[data-v-9bb670f6] {
    font-weight: 400
}

.box[data-v-9bb670f6] {
    width: calc(100% - 32px);
    margin: 16px;
    padding: 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer
}

.img-set[data-v-9bb670f6] {
    padding: 8px 0 0
}

.img-set > img[data-v-9bb670f6] {
    width: 40px
}